Django==2.2
decorator==4.1.2
bootstrap-admin==0.4.*
django-debug-toolbar==1.8
mysqlclient
PyPDF2==1.26.0
python-dateutil==2.6.1
six==1.11.0
sqlparse==0.2.3
sphinx
sphinx_rtd_theme
django-ratelimit==1.1.0
git+git://github.com/dlareau/django-nose@django2.x-loaddata-fix#egg=django-nose
coverage==4.5.1
django-crispy-forms==1.8.1