Django==2.2.18
decorator==4.1.2
bootstrap-admin==0.4.*
django-debug-toolbar==1.8
python-dateutil==2.6.1
sqlparse==0.2.3
sphinx
sphinx_rtd_theme
django-ratelimit==1.1.0
coverage
django-crispy-forms==1.8.1
gunicorn
psycopg2
dj-database-url
django-redis
redis
huey
sentry-sdk==0.14.2