decorator==4.1.2
Django==1.8.18
django-admin-bootstrapped==2.5.7
django-debug-toolbar==1.8
MySQL-python==1.2.3
networkx==2.0
PyPDF2==1.26.0
python-dateutil==2.6.1
six==1.11.0
sqlparse==0.2.3
sphinx_rtd_theme
