{% autoescape off %}

We have recieved a password reset request for the user: {{ user.get_username }}

If this is your account, and you have requested this password reset, you can
click the link below to initiate the password reset process for your puzzlehunt account:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

If clicking the link above doesn't work, please copy and paste the URL in a new browser
window instead.

If you did not request this password reset, just ignore this email.

Sincerely,
Puzzlehunt Staff
{% endautoescape %}
