{% extends "info_base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
<div class="container">
  <div class="row content">
    <p>Please enter your Rice Puzzlehunt username and password:<p>
    <form method="post" action="/accounts/login/">
      {% csrf_token %}
      {{ form|crispy }}

      <input class="btn btn-default" type="submit" value="{% trans 'Log in' %}" />
      <input type="hidden" name="next" value="{{ next }}" />
  	</form>
    <hr>
    <p>
      <b> Don't have an account? </b> You can <a href="{% url 'huntserver:create_account' %}">create an account here</a>.
      <br>
      <br>
      <b> Forgot your password? </b> You can <a href="{% url 'password_reset' %}">reset your password here</a>.
    </p>
  </div>
</div>
{% endblock %}
