{% extends "admin/base.html" %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}huntserver/admin_addon.css">
{% endblock %}

{% block usertools %} {% endblock %}

{% block branding %}
<header>
  <h1>Puzzlehunt Admin</h1>
  <ul>
    <li><a href="/admin/huntserver/hunt">Hunts</a></li>
    <li><a href="/admin/huntserver/team">Teams</a></li>
    <li><a href="/admin/huntserver/puzzle">Puzzles</a></li>
    <li><a href="/staff/progress">Progress</a></li>
    <li><a href="/staff/queue">Queue</a></li>
  </ul>
</header>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block footer %} &nbsp;&nbsp;&nbsp;8=====D~~~~ {% endblock %}
