<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %} Puzzlehunt! {% endblock title %}</title>
    <script src="{{ STATIC_URL }}jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}huntserver/base.css">
    {% block includes %} {% endblock includes %}
  </head>
  <body>



    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">PuzzlehuntCMU</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            {% block left-header %}
              {% if user.is_authenticated %}
                <li class="active"><a href="#">Link </a></li>
                <li><a href="#">Link</a></li>
              {% else %}                
                <li class="active"><a href="#">Link </a></li>
                <li><a href="#">Link</a></li>
                <li><a href="/registration/">Register</a></li>
              {% endif %}
            {% endblock %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% block right-header %}
              {% if user.is_authenticated %}
                <p class="navbar-text">
                  Team: {{user.team.team_name}}
                </p>
                <a class="btn btn-default navbar-btn" href="/accounts/logout/">Log out</a>
              {% else %}
                <a class="btn btn-default navbar-btn" href="/accounts/login/">Log in</a>
              {% endif %}
            {% endblock %}
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    {% block content %} {% endblock content %}
  </body>
</html>
