<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %} Puzzlehunt! {% endblock title %}</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}huntserver/base.css">
    {% block includes %} {% endblock includes %}
  </head>
  <body>
    {% if user.is_authenticated %}
      <p>Welcome, {{ user.username }}  <a href="{% url 'logout' %}">[logout]</a></p>
    {% else %}
      <p>Welcome Guest, Please log in</p>
    {% endif %}
    {% block content %} 
    
    {% endblock content %}
  </body>
</html>
