<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %} Puzzlehunt! {% endblock title %}</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}huntserver/base.css">
    {% block includes %} {% endblock includes %}
  </head>
  <body>
    <header>
      <div id='left-header'>
        {% block left-header %}
          {% if user.is_authenticated %}
            Team: {{user.team.team_name}}
            </br>
            <a href="/accounts/logout/">[Click here to logout]</a>
          {% else %}
            <p>Welcome Guest, Please <a href="/accounts/login/">log in</a> or <a href="/registration/">register.</a></p>
          {% endif %}
        {% endblock %}
      </div>
      <div id='right-header'> 
        {% block right-header %}
        {% endblock %}
      </div> 
    </header>
    {% block content %} 
    
    {% endblock content %}
  </body>
</html>
