{% extends "staff_base.html" %}
{% block title %}Charts!{% endblock title %}

{% block includes %}
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script> {% include "js/charts.js" %} </script>
{% endblock includes %}

{% block content %}
  <h1>Charts!</h1>
  <p>These charts will not automatically refresh</p>
  <div id="chart_div1"></div>
  <div id="chart_div2"></div>
  <div id="chart_div3"></div>
  <div id="chart_div4"></div>
  <div id="chart_div5"></div>

{% endblock content %}
