{% extends "hunt_base.html" %}
{% block title %} Chat with Staff{% endblock title %}

{% block includes %}
<script src="{{ STATIC_URL }}jquery.min.js"></script>
<script type="text/javascript">
  csrf_token = '{{csrf_token}}';
  last_pk = {{last_pk}};
  curr_team = {{team}};
  is_response = false;
  chat_url = "/chat/"
</script>
<script src="{{ STATIC_URL }}huntserver/chat.js"></script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}huntserver/chat.css">
{% endblock includes %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12 content">
      <h1> Chat with staff </h1>
      <div id="chatcontainer">
        {% for team, dict in message_dict.items %}
          <div id='chat_{{dict.pk}}' data-id='{{dict.pk}}'>
            {{dict.messages}}
          </div>
        {% endfor %}
      </div>
      <div style="margin-top: 10px">
        <input id="messagebox" type='text'> </input>
        <button id="sendbutton">Send</button>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
