{% extends "staff_base.html" %}
{% block title %}Hunt Control{% endblock title %}

{% block includes %}
<script src="{{ STATIC_URL }}jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/ws4redis.js"></script>
{% endblock includes %}

{% block content %}
  <h1> Main Hunt Control </h1>
  <p> More actions to come soon: </p>
  <script type='text/javascript'>
  $(document).ready(function() {
    
    var ws4redis = WS4Redis({
      uri: '{{ WEBSOCKET_URI }}puzzle_status?subscribe-user',
      receive_message: receiveMessage,
      heartbeat_msg: {{ WS4REDIS_HEARTBEAT }}
    });

    $('.unlock_form').on('submit', function(e) {
      e.preventDefault();
      $.ajax({
        url : $(this).attr('action') || window.location.pathname,
        type: "POST",
        data: $(this).serialize(),
        error: function (jXHR, textStatus, errorThrown) {
          alert(errorThrown);
        }
      });
    });

    function receiveMessage(msg) {
      var update = JSON.parse(msg);
    }
  });
  </script>
  </br></br>
  <a href="/staff/progress/?reset=1" onclick="return confirm('Are you sure?')">
    Reset All Progress
  </a>
  </br>
  <a href="/staff/progress/?initial=1" onclick="return confirm('Are you sure?')">
    Release Initial Puzzles
  </a>
{% endblock content %}
