{% extends "info_base.html" %}
{% block title %}Puzzlehunt CMU{% endblock title %}

{% block includes %}
  <script src="{{ STATIC_URL }}jquery.min.js"></script>
{% endblock includes %}

{% block content %}

<div class="container">
  <h1> Contact Us </h1>
  <div id='qa'>
    <p>
      Email the <a href="mailto:edgarc@andrew.cmu.edu?subject=Puzzle%20Hunt%20Question">HALP?! LINE</a> (edgarc@andrew) with "Puzzle Hunt" somewhere in the subject line.
    </p>
    <p>More contact details to come shortly...</p>
  </div>
</div>
{% endblock content %}
