{% extends "info_base.html" %}
{% block title %}Registration{% endblock title %}

{% block includes %}
  <script src="{{ STATIC_URL }}jquery.min.js"></script>
{% endblock includes %}

{% block content %}
  <div class="container">
    <h1>Registration</h1>
    <form method="POST" action="">
      <table>
      {% csrf_token %}
      {% for field in uf %}
        <tr class="required">
          <th>
            {{ field.label_tag }}
          </th>
          <td>
            {{ field }}
            <br>
            <div class="help_text">{{ field.help_text }}</div>
            <div class="field_errors">{{ field.errors }}</div>
          </td>
        </tr>
      {% endfor %}
      <tr><th></th><td><br></td></tr>
      {{pf.as_table}}
      <tr><td><input type="submit"></td></tr>
      </table>
    </form>
  </div>
{% endblock content %}
