{% extends "staff_base.html" %}
{% load crispy_forms_tags %}
{% block title %}Email{% endblock title %}

{% block includes %}
<style type="text/css">
  td {
    border: none;
  }
  #id_subject {
    width: 500px;
  }
  #id_message {
    width: 500px;
    height: 300px;
  }
</style>
{% endblock includes %}

{% block content %}
  <h1>Email</h1>
  <h3> Send email to all hunt competitors: </h3>
  <form method="POST" action="/staff/emails/">
    {% csrf_token %}
    {{ email_form|crispy }}
    <div class="submit-row">
      <input class="btn btn-primary" type="submit" value="Send Email" onclick="return confirm('Are you sure?')">
    </div>
  </form>

  <br>
  <br>

  <button data-toggle="collapse" data-target="#demo">Click to show all Emails</button>

  <div id="demo" class="collapse">
    {{email_list}}
  </div>
{% endblock content %}
