<tr data-id='{{hint.pk}}'>
    <td>
        <table class="table table-bordered hint_table">
            <tr>
                <td width="70px">Request</td>
                <td width="100px">{{ hint.request_time|time:"h:i a" }}</td>
                <td>
                    <div class="hint-title">
                        <b>
                            Puzzle: <a href="./?team_id={{request.GET.team_id}}&puzzle_id={{hint.puzzle.pk}}&hint_status={{request.GET.hint_status}}">
                                {{hint.puzzle.puzzle_name}}
                            </a>
                          | Team: <a href="./?team_id={{hint.team.pk}}&puzzle_id={{request.GET.puzzle_id}}&hint_status={{request.GET.hint_status}}">
                                {{hint.team.short_name}}
                            </a>
                        </b>
                    </div>
                    <div class="hint-text">
                        {{ hint.request }}
                    </div>
                </td>
            </tr>
            <tr>
                <td width="70px">Response</td>
                {% if staff_side %}
                    {% if hint.response %}
                        <td width="100px">{{ hint.response_time|time:"h:i a" }}</td>
                        <td>
                            <div class="hint-response">{{ hint.response }}</div>
                            <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#formModal">
                              Edit response
                            </button>
                        </td>
                    {% else %}
                        <td width="100px"></td>
                        <td>
                            <div class="hint-response"></div>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#formModal">
                              Respond to hint
                            </button>
                        </td>
                    {% endif %}
                {% else %}
                    {% if hint.response %}
                        <td width="100px">{{ hint.response_time|time:"h:i a" }}</td>
                        <td>{{ hint.response }}</td>
                    {% else %}
                        <td width="100px"></td>
                        <td><b>No response yet.</b></td>
                    {% endif %}
                {% endif %}
            </tr>
        </table>
    </td>
</tr>