{% extends "staff_base.html" %}
{% block title %}Hunt Management{% endblock title %}

{% block includes %}
  <script type="text/javascript">
    $(function() {
      $('.list-group-item').on('click', function() {
        if($('.glyphicon.glyphicon-chevron-right', this).length){
          $('.glyphicon.glyphicon-chevron-right', this)
            .toggleClass('glyphicon-chevron-right')
            .toggleClass('glyphicon-chevron-down');
        }
        else if($('.glyphicon.glyphicon-chevron-down', this).length){
          $('.glyphicon.glyphicon-chevron-down', this)
            .toggleClass('glyphicon-chevron-right')
            .toggleClass('glyphicon-chevron-down');
        }
      });

      $('.download-btn').on('click', function(e) {
        e.stopPropagation();
      })

      $(".downloadForm").submit(function(e) {
        e.preventDefault();

        var form = $(this);
        var url = form.attr('action');

        $.ajax({
          type: "POST",
          url: url,
          data: form.serialize(),
          success: function(task_id) {
            $('#downloadResponse').html("Downloading files ");
            $('#myModal').modal();
            var num_requests = 0;
            var checkInterval = setInterval(function(){
              $.ajax({
                type: "GET",
                url: "/staff/control/",
                data: {action: "check_task", task_id: task_id},
                success: function(result) {
                  num_requests += 1;
                  if(num_requests > 200) {
                    $('#downloadResponse').append("<br>Request timed out");
                    clearInterval(checkInterval);
                    return;
                  }
                  var result = JSON.parse(result);
                  if(result['have_result']) {
                    $('#downloadResponse').html(result['result_text']);
                    clearInterval(checkInterval);
                  } else {
                    $('#downloadResponse').append(".");
                  }
                },
                error: function(result) {
                  $('#downloadResponse').append(" 500 Server Error<br>Please report this issue.");
                  clearInterval(checkInterval);
                }
              });
            }, 500);
          }
        });
      });

    });
  </script>
{% endblock includes%}

{% block content %}
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Download Status</h4>
        </div>
        <div class="modal-body">
          <div id="downloadResponse" style="white-space: pre;"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <h1>Hunt Management</h1>
  <h3> Hunt Downloads: </h3>
  <div class="list-group list-group-root well" style="max-width: 700px;">
    {% for hunt in hunts %}
      <div href="#item-{{ forloop.counter }}" class="list-group-item" data-toggle="collapse">
        {{ hunt }}
        <form method="Post" action="/staff/control/" style="float: right;">
          {% csrf_token %}
          <input type="hidden" name="action" value="new_current_hunt">
          <input type="hidden" name="hunt_number" value="{{hunt.hunt_number}}">
          <button type="submit" class="download-btn btn btn-info">
            Set Current
          </button>
        </form>
      </div>
    {% endfor %}
  </div>

  <h3> Puzzle Management: </h3>
  <form method="Post" action="/staff/control/">
    {% csrf_token %}
    <input type="hidden" name="action" value="initial">
    <button type="submit" class="download-btn btn btn-warning"
            onclick="return confirm('Are you sure?')">
      Release initial puzzles
    </button>
  </form>
  <br>
  <form method="Post" action="/staff/control/">
    {% csrf_token %}
    <input type="hidden" name="action" value="reset">
    <button type="submit" class="download-btn btn btn-danger" 
            onclick="return confirm('Are you sure?')">
      Reset all progress
    </button>
  </form>
  </br>
{% endblock content %}
