{% extends "info_base.html" %}
{% load humanize %}

{% block includes %}
  <script src="{{ STATIC_URL }}jquery.min.js"></script>
{% endblock includes %}

{% block content %}

<div class="container">
  <h1 class="title">{{curr_hunt.hunt_name}}</h1>
  <h2 class="title">{{ curr_hunt.start_date|date:" m/d/y " }} {{ curr_hunt.start_date|time:"h:iA" }} - {{ curr_hunt.end_date|time:"h:iA" }}<br>
      Starts in {{ curr_hunt.location }}</h3>
  <div id='qa'>
    <h2>What are the puzzles like?</h2>
    <p> #### FILL THIS IN #### </p>
    <h2>Sounds fun! How does my team win?</h2>
    <p> #### FILL THIS IN #### </p>
    <h2>How do I register?</h2>
    <p>Register your team of {{curr_hunt.team_size|apnumber}} (or fewer if you want) <a href="{% url 'huntserver:registration' %}">here!</a>
    </p>

    <h2>What should I bring?</h2>
    <p> #### FILL THIS IN #### </p>

    <h2>How long will it last?</h2>
    <p> #### FILL THIS IN #### </p>

    <h2>Is there anything else I should know?</h2>
    <p> #### FILL THIS IN #### </p>

    <h2>Wait, I have more questions!</h2>
    <p>Email #### FILL THIS IN ####.</p>
  </div>
</div>
{% endblock content %}
