{% extends "hunt_base.html" %}
{% block title %}Puzzles!{% endblock title %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="content col-md-6">
      <h1 class="title">Unlocked Puzzles</h1>
      <a href='/objects/' > 
        <p style="margin-top: -5px;"> Click here for unlocked objects </p> 
      </a>
      <div id="puzzles">
        <table>
          <thead>
            <tr>
              <th style='width: 80px;'>Solved?</th>
              <th style='width: 100px;'>Answer</th>
              <th style='width: 320px;'>Puzzle Name/Link</th>
            </tr>
          </thead>
          <tbody>
            {% for puzzle in puzzles %}
              <tr id='puzzle{{ puzzle.puzzle_number }}' class='puzzle'>
                <td>
                  {% if puzzle in solved %}
                  <img src="{{ STATIC_URL }}huntserver/checkmark.png" alt="Solved"></img>
                  {% else %}
                  <img src="{{ STATIC_URL }}huntserver/red_x.png" alt="Solved"></img>
                  {% endif %}
                </td>
                <td>
                  {% if puzzle in solved %}
                    {{ puzzle.answer|upper }}
                  {% endif %}
                </td>
                <td>
                <a href='/puzzle/{{ puzzle.puzzle_id }}/' >
                  <p class="puzzle-name">P{{puzzle.puzzle_number}} - {{ puzzle.puzzle_name }}</p>
                </a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <p>For assistance, email <a href="mailto:dlareau@cmu.edu">dlareau@cmu.edu</a> or try our new <a href="/chat/"> Chat Feature</a>.</p>
    </div>
    <div class="content col-md-5">
      <div id='plot'>
	{% if puzzles|length > 12 %}
	Some helpful maps:
	{% else %}
	A helpful map:
	{% endif %}
	<img src="{{ STATIC_URL }}huntserver/plot1.png" alt="plot1.png" width="450px"></img>
	{% if puzzles|length > 12 %}
	<br>
	<br>
	This will help your journey to the second castle:
	<img src="{{ STATIC_URL }}huntserver/plot2.png" alt="plot1.png" width="450px"></img>
	{% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}
