{% extends 'base.html' %}
{% load bootstrap_tags %}

{% block base_includes %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}huntserver/hunt_base.css">
{% endblock base_includes %}

{% block left-header %}
  {% set_hunt_from_context %}
	<li class='{% active_page request "current_hunt" %}'>
    <a href="{% url 'huntserver:hunt' tmpl_hunt.hunt_number %}"> Puzzles </a>
  </li>
  {% if not tmpl_hunt.is_public %}
    <!-- Kinda weird to include this here, but better than running the template tag twice -->
    <script src="{{ STATIC_URL }}huntserver/chat_poll.js"></script>
    <li class='{% active_page request "chat" %}'>
      <a href="{% url 'huntserver:chat' %}">
        Chat
        {% if team %}
          {% if team.num_waiting_messages %}
            <span id="num_messages" class="badge" style="background-color: indianred">
              {{team.num_waiting_messages}}
            </span>
          {% else %}
            <span id="num_messages" class="badge">0</span>
          {% endif %}
        {% endif %}
      </a>
    </li>
  {% endif %}
  <li><a href="{% url 'huntserver:current_hunt_info' %}"> Hunt Info </a></li>
{% endblock %}

{% block content_wrapper %}
{% if hunt.is_public or puzzle.hunt.is_public %}
<div class="container" >
  <div class="row" >
    <div class="content col-md-12" style="padding: 10px;">
   	  <p>This is an archived puzzle hunt. All parts may not work properly. We apologize for any issues you encounter.</p>
    </div>
  </div>
</div>
{% endif %}
{% block content %} {% endblock content %}
{% endblock content_wrapper %}

