{% extends "hunt_base.html" %}
{% block title %}Puzzles!{% endblock title %}

{% block base_includes %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}huntserver/hunt_base.css">
<style>body {
  background-image: url(http://typeset-beta.imgix.net/rehost/2016/9/13/eacfaec1-1ac8-489d-aea2-1ca116fa377d.jpg); 
  background-color: #000000; 
  background-repeat: no-repeat; 
  background-size: cover
}

@font-face {
  font-family: musicalFont;
  src: url({{ STATIC_URL }}huntserver/black_jack.ttf);
  src: url({{ STATIC_URL }}MagicSchoolOne.ttf);
}

.playbill {
  font-family: musicalFont;
} 

.puzzle-name {
  white-space: nowrap;
  overflow: hidden;
  width: 320px;
}

.puzzle-name:after {
  content: "..........................................................";
}

#puzzle-frame {
  background-color: #fff3ee;
}

</style>
{% endblock base_includes %}

{% block content %}
<div class="container" >
  <div class="row" >
    <div class="content col-md-6 col-md-offset-3" id='puzzle-frame'>
      <h1 class="title"><font class='playbill'>HPHP</font></h1>
      <div id="puzzles">
        <table>
          <thead>
            <tr>
              <th style='width: 320px'><font class='playbill' size='5px'>Puzzle Name</font></th>
              <th style='width: 180px'><font class='playbill' size='5px'>Solution?</font></th>
            </tr>
          </thead>
          <tbody>
            {% for puzzle in puzzles %}
	{% if puzzle.puzzle_number == 10 %}
	  </tbody>
	</table>
	<h3 class="title"><font class='playbill' size="5px">- Round 2 -</font></h3>
	<table>
	  <tbody>
	  <col width="320px">
	  <col width="180px">
	{% endif %}
              <tr id='puzzle{{ puzzle.puzzle_number }}' class='puzzle'>
                <td>
  		<p class="puzzle-name"><a href='/puzzle/{{ puzzle.puzzle_id }}/'>{{puzzle.puzzle_name}}</a></p>
                </td>
                <td>
                  {% if puzzle in solved %}
                    {{ puzzle.answer|upper }}
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
	<p> Feeling stuck? <a href="/chat/">Chat</a> with us</p>
    </div>
  </div>
</div>
{% endblock content %}
