{% extends 'base.html' %}
{% load bootstrap_tags %}

{% block base_includes %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}huntserver/hunt_base.css">
{% endblock base_includes %}

{% block left-header %}
    <li class='{% active_page request "current_hunt" %}'><a href="{% url 'huntserver:current_hunt' %}"> Puzzles </a></li>
    <li class='{% active_page request "unlockables" %}'><a href="{% url 'huntserver:unlockables' %}"> Unlockables </a></li>
    <li class='{% active_page request "chat" %}'><a href="{% url 'huntserver:chat' %}"> Chat </a></li>
{% endblock %}

{% block right-header %}
  {% if user.is_authenticated %}
    <p class="navbar-text">
      {% if team %}
        Team: {{team.team_name}}
      {% endif %}
    </p>
    <a class="btn btn-default navbar-btn" href="/accounts/logout/">Log out</a>
  {% else %}
    <a class="btn btn-default navbar-btn" href="/accounts/login/">Log in</a>
  {% endif %}
{% endblock %}
{% block footer %}
<div id='footer'>
  Brought to you by <a href="https://www.facebook.com/groups/puzzlehuntCMU">PuzzlehuntCMU</a>.
  You can also find us on <a href="https://thebridge.cmu.edu/organization/puzzlehuntcmu">The Bridge</a>. 
</div>
{% endblock %}