{% extends 'base.html' %}
{% load bootstrap_tags %}

{% block base_includes %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}huntserver/hunt_base.css">
{% endblock base_includes %}

{% block left-header %}
    <li class='{% active_page request "current_hunt" %}'><a href="{% url 'huntserver:current_hunt' %}"> Puzzles </a></li>
    <li class='{% active_page request "unlockables" %}'><a href="{% url 'huntserver:unlockables' %}"> Unlockables </a></li>
    <li class='{% active_page request "chat" %}'><a href="{% url 'huntserver:chat' %}"> Chat </a></li>
    <li class='{% active_page request "index" %}'><a href="{% url 'huntserver:index' %}"> Main Site </a></li>
{% endblock %}

{% block content_wrapper %}
{% if hunt.is_public or puzzle.hunt.is_public %}
<div class="container" >
  <div class="row" >
    <div class="content col-md-12" style="padding: 10px;">
   	  <p>This is an archived Puzzlehunt. All parts may not work properly. We apologize for any issues you encounter.</p>
    </div>
  </div>
</div>
{% endif %}
{% block content %} {% endblock content %}
{% endblock content_wrapper %}

