{% extends 'base.html' %}
{% load bootstrap_tags %}

{% block base_includes %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}huntserver/info_base.css">
{% endblock base_includes %}

{% block left-header %}
    <li class='{% active_page request "index" %} visible-xs'><a href="{% url 'huntserver:index' %}"> Homepage </a></li>
    <li class='{% active_page request "current_hunt_info" %}'><a href="{% url 'huntserver:current_hunt_info' %}"> Hunt Info</a></li>
    <li class='{% active_page request "current_hunt" %}'><a href="{% url 'huntserver:current_hunt' %}"> Current Hunt </a></li>
    <li class='{% active_page request "previous_hunts" %}'><a href="{% url 'huntserver:previous_hunts' %}"> Previous Hunts </a></li>
    <li class='{% active_page request "resources" %}'><a href="{% url 'huntserver:resources' %}"> Puzzle Resources </a></li>
    <li class='{% active_page request "contact_us" %}'><a href="{% url 'huntserver:contact_us' %}"> Contact Us </a></li>
{% endblock %}
