{% extends "info_base.html" %}

{% block includes %}
  <script src="{{ STATIC_URL }}jquery.min.js"></script>
{% endblock includes %}

{% block content %}

<div class="container">
  <p>
    Puzzlehunts we have run, listed in reverse chronological order back to 2007. (Playable back to 2015)
    
  </p>
  {% for hunt in hunts reversed %}
  <h4>
    <a href="{% url 'huntserver:hunt' hunt.hunt_number %}">
      {{hunt.hunt_name}} ({{hunt.season}} '{{ hunt.start_date|date:"y" }})
    </a>
  </h4>
    <ul>
      <li>
        {{ hunt.display_start_date|date:" m/d/y " }} 
        {{ hunt.display_start_date|time:"P" }} - 
        {{ hunt.display_end_date|time:"P" }}
      </li>
      <li>{{hunt.puzzle_set.all|length}} Puzzles</li>
      <li>{{hunt.real_teams|length}} Teams</li>
    </ul>
  {% endfor %}
  <h4> Ornithology Hunt (Fall '14) </h4>
    <ul>
      <li> 10/04/14 Noon - 6pm </li>
      <li> 8 Puzzles </li>
    </ul>
  <h4> Zombie Apocalypse Hunt (Spring '14) </h4>
    <ul>
      <li> 03/22/14 Noon - 8pm </li>
      <li> 17 Puzzles </li>
    </ul>
  <h4> An Infinitely Improbable Puzzle Hunt (Fall '13) </h4>
    <ul>
      <li> 10/12/13 Noon - 8pm </li>
      <li> 22 Puzzles </li>
    </ul>
  <h4> Pirate Treasure Hunt (Spring '13) </h4>
    <ul>
      <li> 02/23/13 Noon - 8pm </li>
      <li> 16 Puzzles </li>
    </ul>
  <h4> Weather Machine Hunt (Fall '12) </h4>
    <ul>
      <li> 10/13/12 Noon - 8pm </li>
      <li> 22 Puzzles </li>
    </ul>
  <h4> The Great Library (Spring '12) </h4>
    <ul>
      <li> 02/18/12 Noon - 8pm </li>
      <li> 22 Puzzles </li>
    </ul>
  <h4> Babel Systems Hunt (Fall '11) </h4>
    <ul>
      <li> 11/12/11 Noon - 8pm </li>
      <li> 13 Puzzles </li>
    </ul>
  <h4> Jackson Detective Agency (Spring '11) </h4>
    <ul>
      <li> 04/23/11 Noon - 8pm </li>
      <li> 22 Puzzles </li>
    </ul>
  <h4> The Wizard's Elemental Tower (Spring '10) </h4>
    <ul>
      <li> 04/03/10 Noon - 8pm </li>
      <li> 16 Puzzles </li>
    </ul>
  <h4> Clone Hunt (Fall '09) </h4>
    <ul>
      <li> 11/07/10 Noon - 8pm </li>
      <li> 11 Puzzles </li>
    </ul>
  <h4> Time Travel Hunt (Spring '09) </h4>
    <ul>
      <li> 03/28/09 Noon - 8pm </li>
      <li> 12 Puzzles </li>
    </ul>
  <h4> Geller Hotel Psychic Convention (Fall '08) </h4>
    <ul>
      <li> 11/01/09 Noon - 8pm </li>
      <li> 15 Puzzles </li>
      <!-- <li> 17 Teams </li> -->
    </ul>
  <h4> (Pirates?) Hunt (Spring '08) </h4>
    <ul>
      <li> 03/01/08 Noon - 8pm </li>
      <li> 17 Puzzles </li>
    </ul>
  <h4> Carmen Sandiego Hunt (Fall '07) </h4>
    <ul>
      <li> 10/26/07 Noon - 8pm </li>
      <li> 12 Puzzles </li>
    </ul>
  <h4> Alice in Wonderland Hunt (Spring '07) </h4>
    <ul>
      <li> 02/23/07 Noon - 8pm </li>
      <li> 12 Puzzles </li>
    </ul>

</div>
{% endblock content %}
