{% extends "staff_base.html" %}
{% block title %}Puzzle Progress{% endblock title %}

{% block includes %}
<script src="{{ STATIC_URL }}jquery.min.js"></script>
<script type="text/javascript">
  last_solve_pk = {{last_solve_pk}};
  last_unlock_pk = {{last_unlock_pk}};
  last_submission_pk = {{last_submission_pk}}
</script>
<script src="{{ STATIC_URL }}huntserver/progress.js"></script>
{% endblock includes %}

{% block content %}
  <h1>Puzzle Progress</h1>
  <table id='progress'>
    <thead>
      <tr>
        <th>Action for all teams:</th>
        <th></th>
        {% for puzzle in puzzle_list %}
          <th>
            <form class='unlock_form' action="/staff/progress/" method="post">
              {% csrf_token %}
              <input type="hidden" name="puzzle_id" value="{{ puzzle.pk }}">
              <input type="hidden" name="action" value="unlock_all">
              <button type="Submit" onclick="return confirm('Are you sure?')">
                Unlock All
              </button>
            </form>
      </form>

          </th>
        {% endfor %}
      </tr>
      <tr>
        <th>Team</th>
        <th>#</th>
        {% for puzzle in puzzle_list %}
          <th data-id='{{ puzzle.puzzle_id }}'>{{ puzzle.puzzle_name }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row in sol_array %}
        <tr>
          <td style="max-width: 200px; overflow: hidden; text-overflow: ellipsis;">
            {{ row.team.team_name }}
          </td>
          <td class='num'>{{ row.num }}</td>
          {% for cell in row.cells %}
          {% if cell.0 == "locked"%}
            <td id='p{{ cell.1 }}t{{ row.team.pk }}' class='unavailable' 
             style='text-align:center;'>
              <form class='unlock_form' action="/staff/progress/" method="post">
                {% csrf_token %}
                <input type="hidden" name="team_id" value="{{ row.team.pk }}">
                <input type="hidden" name="puzzle_id" value="{{ cell.1 }}">
                <input type="hidden" name="action" value="unlock">
                <button type="Submit">
                  Unlock
                </button>
        </form>
            </td>
          {% elif cell.0 == "unlocked" %}
            <td id='p{{ cell.1 }}t{{ row.team.pk }}' class='available' data-date={{ cell.2 |date:"U"}}>
              <b>{{ cell.3|time:"h:i a" }}</b>
            </td>
          {% else %}
            <td id='p{{ cell.1 }}t{{ row.team.pk }}' class='solved' > 
              {{ cell.0|time:"h:i a" }} 
            </td>
          {% endif %}
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
