{% extends "staff_base.html" %}
{% block title %}Puzzle Progress{% endblock title %}

{% block includes %}
<script src="{{ STATIC_URL }}jquery.min.js"></script>
{% endblock includes %}

{% block content %}
  <h1>Puzzle Progress</h1>
  <table id='progress'>
    <thead>
      <tr>
        <th>Team</th>
        <th>#</th>
        {% for puzzle in puzzle_list %}
          <th data-id='{{ puzzle.puzzle_id }}'>{{ puzzle.puzzle_name }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row in sol_array %}
        <tr>
          <td>{{ row.team.team_name }}</td>
          <td class='num'>{{ row.num }}</td>
          {% for cell in row.cells %}
          {% if cell.0 == "locked"%}
            <td id='p{{ cell.1 }}t{{ row.team.pk }}' class='unavailable' 
             style='text-align:center;'>
              <form class='unlock_form' action="/staff/progress/" method="post">
                {% csrf_token %}
                <input type="hidden" name="team_id" value="{{ row.team.pk }}">
                <input type="hidden" name="puzzle_id" value="{{ cell.1 }}">
                <input type="Submit" value="Unlock" />
              </form>
            </td>
          {% elif cell.0 == "unlocked" %}
            <td id='p{{ cell.1 }}t{{ row.team.pk }}' class='available' data-date={{ cell.2 |date:"U"}}></td>
          {% else %}
            <td id='p{{ cell.1 }}t{{ row.team.pk }}' class='solved' > 
              {{ cell.0|time:"h:i a" }} 
            </td>
          {% endif %}
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
  
  <script type='text/javascript'>
  $(document).ready(function() {
    function recolor () {
      $(".available").each(function(){
        var time_diff = Math.floor(Date.now()/1000) - $(this).data("date");
        var ratio = Math.floor(Math.min((1-time_diff/14400), 1)*255);
        var color = "rgb(255, " + ratio + ", 0)"
        $(this).css("background", color);
      });
    }
    recolor();
    setInterval(recolor, 5000);

    last_solve_pk = {{last_solve_pk}};
    last_unlock_pk = {{last_unlock_pk}};
    var get_posts = function() {
      $.ajax({
        type: 'get',
        url: "/ajax/progress",
        data: {last_solve_pk: last_solve_pk, last_unlock_pk: last_unlock_pk},
        success: function (response) {
          var messages = JSON.parse(response);
          console.log(messages);
          if(messages.length > 0){
            for (var i = 0; i < messages.length-2; i++) {
              receiveMessage(messages[i]);
            };
            last_solve_pk = messages[messages.length-2];
            last_unlock_pk = messages[messages.length-1];
          }
        },
        error: function (html) {
          console.log(html);
        }
      });
    }
    setInterval(get_posts, 3000);


    $('.unlock_form').on('submit', function(e) {
      e.preventDefault();
      $.ajax({
        url : $(this).attr('action') || window.location.pathname,
        type: "POST",
        data: $(this).serialize(),
        error: function (jXHR, textStatus, errorThrown) {
          alert(errorThrown);
          console.log(jXHR);
        }
      });
    });

    function receiveMessage(update) {
      $td = $("#p" + update.puzzle_id + "t" + update.team_pk);
      if(update.status_type == "solve"){
        $td.removeClass();
        $td.addClass('solved');
        $td.html(update.time_str);
        $td.css("background", "");
      }
      else if(update.status_type == "unlock"){
        $td.removeClass();
        $td.addClass('available');
        $td.data("date", (Date.now()/1000));
        $td.html(" ");
      }
    }
  });
  </script>
  </br></br>
  <a href="/staff/control/?reset=1" onclick="return confirm('Are you sure?')">
    Reset All Progress
  </a>
  </br>
  <a href="/staff/control/?getpuzzles=1" onclick="return confirm('Are you sure?')">
    Fetch puzzles from URLs
  </a>
  </br>
  <a href="/staff/control/?initial=1" onclick="return confirm('Are you sure?')">
    Release Initial Puzzles
  </a>
{% endblock content %}
