{% extends "hunt_base.html" %}
{% block title %}Puzzle - {{ puzzle.puzzle_name }}{% endblock title %}

{% block includes %}
<script src="{{ STATIC_URL }}jquery.min.js"></script>
{% if not puzzle.hunt.is_public %}
<script type="text/javascript">
    last_date = '{{last_date}}';
    puzzle_url = '/puzzle/{{puzzle.puzzle_id}}'
</script>
<script src="{{ STATIC_URL }}huntserver/puzzle.js"></script>
{% endif %}
{% endblock includes %}

{% block content %}
<div class="container">
  <div class="row puzzle content">
    <div class='col-md-12 info'>
      <div class='leftinfo'>
        <h1> P{{ puzzle.puzzle_number }} - {{ puzzle.puzzle_name}} </h1>
        <h4> {{ puzzle.solved_for.all | length }} teams have solved this puzzle so far.</h4>
      </div>
      <h3><a href='{{ PROTECTED_URL }}puzzles/{{ puzzle.puzzle_id }}.pdf'>
        Click here for a downloadable pdf
      </a></h3>
    </div>
    <div class="col-md-4 col-md-offset-1">
      <fieldset id='submit'>
        <legend>Submit an answer</legend>
        <form id='sub_form' action="/puzzle/{{ puzzle.puzzle_id }}/" method='post'>
          {% csrf_token %}
          <div>
            {{ form }}
            <input type='submit' value='Submit'/>
          </div>
        </form>
      </fieldset>
    </div>
    <div class="col-md-6">
      <br>
    {% if puzzle.hunt.is_public %}
      <p style="width: 80%; margin: auto;"> We are sorry, previous guess viewing is not available in old puzzlehunts </p>
      <br>
      {% if response %}
      <div style='width: 80%; height: 40px; line-height: 40px;
                  text-align: center; margin: auto;
                  {% if is_correct %}
                    background-color: lightgreen;'>
                  {% else %}
                    background-color: indianred;'>
                  {% endif %}
        {{response}}
      </div>
      {% endif %}
      <br>
    {% else %}
      <fieldset id='answers'>
        <legend>Past answers (automatically updated)</legend>
        <table>
          <thead>
            <tr>
              <th>Time</th>
              <th>Answer</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody id='sub_table'>
            {% for submission in submission_list reversed%}
            {% include "puzzle_sub_row.html" %}
           {% endfor %}
         </tbody>
       </table>
      </fieldset>
    {% endif %}
    </div>
    <div class="col-md-10 col-md-offset-1">
      {% if pages|length == 1 %}
        <img id="puzzleimg" src="{{ PROTECTED_URL }}puzzles/{{ puzzle.puzzle_id }}.png"  alt="Could not load image">
      {% else %}
        {% for i in pages %}
        <img id="puzzleimg" src="{{ PROTECTED_URL }}puzzles/{{ puzzle.puzzle_id }}-{{i}}.png"  alt="Could not load image">
        {% endfor %}
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}
