{% extends "hunt_base.html" %}
{% block title %}Puzzle - {{ puzzle.puzzle_name }}{% endblock title %}

{% block includes %}
<script src="{{ STATIC_URL }}jquery.min.js"></script>
{% if not puzzle.hunt.is_public %}
<script type="text/javascript">
    last_date = '{{last_date}}';
    puzzle_url = '/puzzle/{{puzzle.puzzle_id}}/'
</script>
<script src="{{ STATIC_URL }}huntserver/puzzle.js"></script>
{% endif %}
{% endblock includes %}

{% block content %}
<div class="container">
  <div class="row puzzle content">
    <div class='col-md-12 info'>
      <div class='leftinfo'>
        <h1> P{{ puzzle.puzzle_number }} - {{ puzzle.puzzle_name}} </h1>
        <h4> {{ puzzle.solved_for.count }} teams have solved this puzzle so far.</h4>
      </div>
      {% if puzzle.is_html_puzzle %}
        <h3><a href='{{ PROTECTED_URL }}puzzles/{{ puzzle.puzzle_id }}/index.html'>
          Click here to go to the puzzle.
        </a></h3>
      {% else %}
        <h3><a href='{{ PROTECTED_URL }}puzzles/{{ puzzle.puzzle_id }}.pdf'>
          Click here for a downloadable pdf
        </a></h3>
      {% endif %}
      {% if puzzle.hunt.is_public %}
        <br>
        {% if puzzle.solution_link != "" %}
          <h3><a href='{{ PROTECTED_URL }}solutions/{{ puzzle.puzzle_id }}_sol.pdf'>
              Click here for the solution
          </a></h3>
        {% else %}
          <h3 style="float: right;">Published solution not available</h3>
        {% endif %}
      {% endif %}
    </div>
    {% if puzzle.hunt.is_public or not puzzle in team.solved.all %}
    <div id='submit_container' class="col-md-4 col-md-offset-1">
      <fieldset id='submit'>
        <legend>Submit an answer</legend>
        <form id='sub_form' action="/puzzle/{{ puzzle.puzzle_id }}/" method='post'>
          {% csrf_token %}
          <div>
            {{ form }}
            <input type='submit' value='Submit'/>
          </div>
        </form>
      </fieldset>
    </div>
    {% endif %}
    <div id='answer_container' class="col-md-6">
      <br>
    {% if puzzle.hunt.is_public %}
      <p style="width: 80%; margin: auto;"> We are sorry, previous guess viewing is not available in old puzzlehunts </p>
      <br>
      {% if response %}
      <div style='width: 80%; height: 40px; line-height: 40px;
                  text-align: center; margin: auto;
                  {% if is_correct %}
                    background-color: lightgreen;'>
                  {% else %}
                    background-color: indianred;'>
                  {% endif %}
        {{response}}
      </div>
      {% endif %}
      <br>
    {% else %}
      <fieldset id='answers'>
        <legend>Past answers (automatically updated)</legend>
        <table>
          <thead>
            <tr>
              <th>Time</th>
              <th>Answer</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody id='sub_table'>
            {% for submission in submission_list reversed%}
            {% include "puzzle_sub_row.html" %}
           {% endfor %}
         </tbody>
       </table>
      </fieldset>
    {% endif %}
    </div>
    {% if puzzle.is_html_puzzle %}
      <div style="text-align: center;" class="col-md-10 col-md-offset-1">
        <h4>
          <br>
          <br>
          This puzzle is a web-based puzzle:
          <a href="{{ PROTECTED_URL }}puzzles/{{ puzzle.puzzle_id }}/index.html">Click here to go to the puzzle.</a>
        </h4>
      </div>
    {% else %}
      <div class="col-md-12">
        <embed width="100%" height="1000px" src="{{ PROTECTED_URL }}puzzles/{{ puzzle.puzzle_id }}.pdf" type="application/pdf"></embed>
      </div>
    {% endif %}
  </div>
</div>
{% endblock content %}
