{% extends "staff_base.html" %}
{% block title %}Queue{% endblock title %}

{% block includes %} 
  <script src="{{ STATIC_URL }}js.cookie.js"></script>
  <script>
    last_date = '{{last_date}}';
  </script>
  <script src="{{ STATIC_URL }}huntserver/queue.js"></script>
{% endblock includes %}

{% block content %}
<h1>Submission Queue</h1>

<table id='queue'>
  <thead>
    <tr>
      <th>Team</th>
      <th>Puzzle</th>
      <th>Answer</th>
      <th>Submitted At</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody id='sub_table'>
    {% for submission in submission_list %}
      {{ submission }}
    {% endfor %}
  </tbody>
</table>

<br>

<div class="pagination">
    <span class="step-links">
        {% if page_info.has_previous %}
            <a href="/staff/queue/{{ page_info.previous_page_number }}">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_info.number }} of {{ page_info.paginator.num_pages }}.
        </span>

        {% if page_info.has_next %}
            <a href="/staff/queue/{{ page_info.next_page_number }}">Next</a>
        {% endif %}
    </span>
</div>

<audio>
  <source src="http://cmu.io/~jlareau/goat.mp3"  type="audio/mp3"/>
</audio>
{% endblock content %}
