{% extends "info_base.html" %}
{% block title %}Puzzlehunt CMU{% endblock title %}

{% block includes %}
  <script src="{{ STATIC_URL }}jquery.min.js"></script>
{% endblock includes %}

{% block content %}

<div class="container">
  <h1>Puzzle Resources</h1>
  Here are some resources to help you get started on some puzzles:
  <ul>
    <li>
      <a href="http://www.puzzledpint.com/files/3513/8254/7894/2013_10_22_Puzzling_Basics_Infographic.pdf">Puzzled Pint's "Puzzling Basics"</a>
    </li>
    <li>
      <a href="http://www.puzzledpint.com/files/3314/3371/1726/code-sheet-2015.pdf">Puzzled Pint's "Code Sheet"</a>
    </li>
    <li>
      <a href="http://www.mit.edu/~puzzle/resources/thinkingaboutpuzzles.html">MIT's "Thinking About A Puzzle"</a> by Allen Rabinovich
    </li>
    <li>
      More resources coming soon!
    </li>
  </ul>

</div>
{% endblock content %}