<!-- <readme> This file is the source for the resources info page when creating the server. 
              Don't edit this file after server creation, use the admin editor instead </readme> -->

<h1>Puzzle Resources</h1>
Here are some resources to help you get started on some puzzles:
<ul>
  <li>
    <a href="http://www.puzzledpint.com/files/3513/8254/7894/2013_10_22_Puzzling_Basics_Infographic.pdf">Puzzled Pint's "Puzzling Basics"</a>
  </li>
  <li>
    <a href="http://www.puzzledpint.com/files/3314/3371/1726/code-sheet-2015.pdf">Puzzled Pint's "Code Sheet"</a>
  </li>
  <li>
    <a href="http://www.mit.edu/~puzzle/resources/thinkingaboutpuzzles.html">MIT's "Thinking About A Puzzle"</a> by Allen Rabinovich
  </li>
  <li>
    <a href="https://www.collegepuzzlechallenge.com/PuzzleTools.aspx">Microsoft's College Puzzle Challenge Tools and Resources</a>
  </li>
  <li>
    <a href="http://onelook.com">onelook.com</a> and <a href="http://www.morewords.com/">morewords.com</a> (reverse dictionary)
  </li>
  <li>
    <a href="http://boulter.com/anagram/">multiword</a> and <a href="http://wordsmith.org/anagram/"> general anagramming</a>
  </li>
  <li>
    <a href="http://www.oneacross.com">OneAcross</a> and <a href="http://www.crosswordgiant.com">Crossword Giant</a> (crossword clue lookup)
  </li>
  <li>
    More resources coming soon!
  </li>
</ul>
