{% extends "info_base.html" %}

{% block content %}
<div class="container">
<h2>Register for PuzzlehuntCMU</h2>
{% if user_form.subject.errors %}
    <ol>
    {% for error in user_form.subject.errors %}
        <li><strong>{{ error|escape }}</strong></li>
    {% endfor %}
    </ol>
{% endif %}
{% if person_form.subject.errors %}
    <ol>
    {% for error in person_form.subject.errors %}
        <li><strong>{{ error|escape }}</strong></li>
    {% endfor %}
    </ol>
{% endif %}
<form method="POST" action="/shib/login">
  {% csrf_token %}
  <div>
    <p>By continuing, you agree to release the following attributes to PuzzlehuntCMU:</p>
    {{ user_form.as_p }}
    {{ person_form.as_p }}
  </div>
  <input type="hidden" name="next" value="{{ next }}" />
  <div class="submit-row">
    <input type="submit" value="Continue >>" class="default" />
  </div>
</form>
</div>
{% endblock %}
