{% load huntserver_tags %}

<nav class="navbar navbar-inverse navbar-fixed-top" {% if debug %} style="background-color: darkred;" {% endif %} >
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#admin_navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"> {% if debug %} DEVELOPMENT SERVER {% else %} {% get_title request %} {% endif %}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="admin_navbar">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Edit Objects <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/admin/huntserver/hunt">Hunts</a></li>
            <li><a href="/admin/huntserver/team">Teams</a></li>
            <li><a href="/admin/huntserver/puzzle">Puzzles</a></li>
            <li><a href="/admin/huntserver/person">People</a></li>
          </ul>
        </li>

        <li><a href="/staff/progress">Progress</a></li>
        <li><a href="/staff/queue">Queue</a></li>
        <li><a href="/staff/chat">Chat</a></li>
        <li><a href="/staff/management">Management</a></li>
        <li><a href="/staff/emails">Email</a></li>
        <li><a href="/staff/charts">Charts</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
          <p class="navbar-text visible-lg">
            {% if team %}
              Team: {{team.team_name}}
            {% else %}
              Logged in as {{request.user.username}}
            {% endif %}
          </p>
          <a id="login_logout_button" class="btn btn-default navbar-btn" href="/logout/">Log out</a>
        {% else %}
          <a id="login_logout_button" class="btn btn-default navbar-btn" href="{% url 'huntserver:login_selection' %}">Log in</a>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
