<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %} Puzzlehunt Admin {% endblock title %}</title>
    <script src="{{ STATIC_URL }}jquery.min.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}huntserver/admin.css">
    <script src="{{ STATIC_URL }}bootstrap.min.js"></script>
    {% block includes %} {% endblock includes %}
  </head>
  <body style="margin-top: 70px;">
    {% include "staff_header.html" %}
    <section id="content">
      {% block content %}

      {% endblock content %}
      <br/>
      <p style='margin-top: 50px;display:block'></p>
    </section>
  </body>
</html>
