{% extends "staff_base.html" %}
{% block title %}Hunt Control{% endblock title %}

{% block includes %}
<script type="text/javascript">
  csrf_token = '{{csrf_token}}';
  last_pk = {{last_pk}};
  curr_team = "";
  is_response = true;
  ajax_url = "/staff/chat/"
</script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}huntserver/chat.css">
<script src="{{ STATIC_URL }}huntserver/staff_chat.js"></script>
<script src="{{ STATIC_URL }}huntserver/chat.js"></script>
{% endblock includes %}

{% block content %}
  <h1> Staff Chat </h1>
  <div class="container">
    <div class="row">
      <div id="button_container" class="content col-sm-3 col-md-2">
        {% for team in teams %}
          <button data-id='{{ team.pk }}' class="chatselect">
            {{ team.team_name|truncatechars:16 }}
          </button>
          <br>
        {% endfor %}
      </div>
      <div class="content col-sm-9 col-md-10">
        <div id="chatcontainer">
          {% for team, dict in message_dict.items %}
            <div id='chat_{{ dict.pk }}' class="chatwindow">
              {{dict.messages}}
            </div>
          {% endfor %}
          </div>
        <div style="margin-top: 10px">
          <input id="messagebox" typpe='text'> </input>
          <button id="sendbutton">Send</button>
          <br>
          <input type="checkbox" id="announce_checkbox" name="is_announcement" value="is_announcement">
          <label for="announce_checkbox">
            Make this message an announcement to all teams.
          </label>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
