{% extends "staff_base.html" %}
{% block title %}Hint Management{% endblock title %}
{% load crispy_forms_tags %}

{% block includes %}
  <script src="{{ STATIC_URL }}js.cookie.js"></script>
  <script>
    last_date = '{{last_date}}';
    csrf_token = '{{csrf_token}}';
  </script>
  <script src="{{ STATIC_URL }}huntserver/staff_hints.js"></script>
{% endblock includes %}

{% block content %}
<h1>Hint Requests</h1>

<div class="row puzzle content" style="display: flex;">
  <div id="hint_counts" class='col-sm-12 col-md-5 col-lg-4 collapse'>
    <table class="table table-condensed table-responsive" style="table-layout:fixed;">
      {% for team in hunt.team_set.all|dictsort:"team_name.lower" %}
        <tr>
          <td width="200px" style="overflow-wrap: break-word; padding: 0px;">{{ team.short_name }}</td>
          <td width="140px" style="padding: 0px;">
            <div class="input-group">
              <span class="input-group-btn">
                <button type="button" class="btn btn-default btn-number" data-value="-1" data-team="{{team.pk}}" style="margin: 0px;">
                  <span class="glyphicon glyphicon-minus"></span>
                </button>
              </span>
              <input type="text" data-team="{{team.pk}}" class="form-control input-number" value="{{ team.num_available_hints }}" disabled>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default btn-number" data-value="1" data-team="{{team.pk}}" style="margin: 0px;">
                  <span class="glyphicon glyphicon-plus"></span>
                </button>
              </span>
            </div>
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
  <div class='col' style="flex: 1; margin: 10px">
    <button style="float: left; margin-right: 20px;" class="btn btn-default" type="button" data-toggle="collapse" data-target="#hint_counts" aria-expanded="false" aria-controls="collapseExample">
      Show/Hide hint counts
    </button>
    <form id="filter_form" method="GET" action="" class="form-inline">
      <select name="team_id" style="width: 200px;" class="form-control">
        <option value="">Filter by team</option>
        {% for team in hunt.team_set.all|dictsort:"team_name.lower" %}
          <option value="{{team.pk}}" {% if team.pk == team_id %} selected {% endif %}>
            {{team.team_name|truncatechars:30}}
          </option>
        {% endfor %}
      </select>
      <select name="puzzle_id" style="width: 200px;" class="form-control">
        <option value="">Filter by Puzzle</option>
        {% for puzzle in hunt.puzzle_set.all|dictsort:"puzzle_number" %}
          <option value="{{puzzle.pk}}" {% if puzzle.pk == puzzle_id %} selected {% endif %}>
            {{puzzle.puzzle_name}} ({{puzzle.puzzle_number}})
          </option>
        {% endfor %}
      </select>
      <select name="hint_status" style="width: 150px;" class="form-control">
        <option value="">Filter by Status</option>
          <option value="answered" {% if hint_status == "answered" %} selected {% endif %}>
            Answered
          </option>
          <option value="unanswered" {% if hint_status == "unanswered" %} selected {% endif %}>
            Unanswered
          </option>
      </select>
      <button type="submit" value="Filter" class="btn btn-default"> Filter </button>
    </form>
    {% if team_id or puzzle_id or hint_status %}
    <div class="alert alert-info" style="margin-top: 10px; padding: 10px;" role="alert">
      You are viewing filtered hints. <u><a href=".">Click here to remove filtering.</a></u>
    </div>
    {% endif %}

    <div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel">
      <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="formModalLabel">Respond to Hint</h4>
            </div>
            <div class="modal-body">
              <b>Request:</b>
              <div id="modal-hint-text"></div>
              <br>
              <form class='sub_form' action="/staff/hints/" method="post">
                {% csrf_token %}
                {{ response_form|crispy }}
                <input class="btn btn-default" type='submit' value='Submit'/>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <table id='hints' class="table table-condensed" style="margin-top: 10px;">
      <tbody id='sub_table'>
        {% for hint in hint_list %}
          {{ hint }}
        {% endfor %}
      </tbody>
    </table>

    <br>

    <div class="pages">
      {% if page_info.has_other_pages %}
        <ul class="pagination">

        {% if page_info.has_previous %}
          <li><a href="/staff/hints/?page_num={{ page_info.previous_page_number }}{{arg_string}}">&laquo;</a></li>
        {% else %}
          <li><a>&laquo;</a></li>
        {% endif %}

        {% for i in page_info.paginator.page_range %}
          {% if page_info.number > 3 and forloop.first %}
            <li><a href="/staff/hints/?page_num=1{{arg_string}}">1</a></li>
            <li><a>⋯</a></li>
          {% endif %}
          {% if page_info.number == i %}
            <li class="active"><a href="/staff/hints/?page_num={{ i }}{{arg_string}}">{{ i }}</a></li>
          {% elif i > page_info.number|add:'-3' and i < page_info.number|add:'3' %}
            <li><a href="/staff/hints/?page_num={{ i }}{{arg_string}}">{{ i }}</a></li>
          {% endif %}
          {% if page_info.paginator.num_pages > page_info.number|add:'3' and forloop.last %}
            <li><a>⋯</a></li>
            <li><a href="/staff/hints/?page_num={{ page_info.paginator.num_pages }}{{arg_string}}">{{ page_info.paginator.num_pages }}</a></li>
          {% endif %}
        {% endfor %}

        {% if page_info.has_next %}
          <li><a href="/staff/hints/?page_num={{ page_info.next_page_number }}{{arg_string}}">&raquo;</a></li>
        {% else %}
          <li><a>&raquo;</a></li>
        {% endif %}

        </ul>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}
