SECRET_KEY = 'this is not the secret key, use your own'

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql',
        'NAME': 'puzzlehunt_db',
        'HOST': 'localhost',
        'PORT': '3306',
        'USER': 'nottherealusername',
        'PASSWORD': 'nottherealpassword',
    }
}
