{% extends "admin/base_site.html" %}
{% load static %}

{% block extrahead %}
	  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}huntserver/admin_addon.css">
{% endblock %}
	
{% block branding %}
	<a href="{% url 'admin:index' %}" class="django-admin-logo">
	    <!-- Django Administration -->
	    <img height="60" src="{% static "huntserver/phcmulong.png" %}" alt="{{ site_header|default:_('Django administration') }}">
	</a>
{% endblock %}

{% block bootstrap_admin_css %}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
{% endblock bootstrap_admin_css %}

{% block bootstrap_admin_js %}
  <script>if (typeof jQuery === 'undefined' && django && django.jQuery) {jQuery = django.jQuery;}</script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
  <script src="{% static 'bootstrap_admin/js/base.js' %}"></script>
{% endblock bootstrap_admin_js %}