#header {
    padding: 0px;
    height: auto;
    line-height: 35px;
}

#branding {
    width: inherit;
    float: none;
}

#header header {
    padding: 0px;
    margin: 0px;
    font-family: verdana;
    background: #414141;
    overflow: auto;
}

#header header h1 {
    font-size: 28px;
    font-weight: bold;
    padding: 20px;
    color: white;
    margin: 0px;
    float: left;
}

header ul {
    float: left;
    margin: 15px;
    margin-left: 0px;
}
  
header ul li {
    list-style: none;
    float: left;
    width: 100px;
    text-align: center;
    font-size: 14px;
}

.stafflinks ul li a{
    font-size: 14px;
    text-decoration: none;
}

#header #branding header li a:hover {
    color: #DBDBDB;
}
