
.CodeMirror.cm-s-default {
    height: 600px;
    border: 1px solid black;
}

td.original p {
	visibility: hidden;
	width: 0px;
	height: 0px;
}

.sidebar-menu .django-admin-logo {
	background: #efefef;
	border-right: 1px solid #ddd;
	height: 70px;
	padding-top: 5px;
	padding-bottom: 5px;
}

/* The below is just for the management page */
.list-group.list-group-root {
    padding: 0;
    overflow: hidden;
}

.list-group.list-group-root .list-group {
    margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
    border-radius: 0;
    border-width: 1px 0 0 0;
}

.list-group.list-group-root > .list-group-item:first-child {
    border-top-width: 0;
}

.list-group.list-group-root > .list-group > .list-group-item {
    padding-left: 45px;
}

.list-group-item .glyphicon {
    margin-right: 5px;
}

.list-group-item button .glyphicon {
    margin-right: 0px;
}

.download-btn {
	padding: 3px 12px 1px 12px;
	margin-top: -2px;
}