body {
  font-family: verdana;
  font-size: 14px;
  padding: 0;
  margin: 0; }

table{
  border-collapse: separate;
  border-spacing: 2px;
}

#login_logout_button {
  margin-right: 8px;
}

#content {
  margin: 20px; }


#queue {
  width: 100%; }

  #queue td {
    padding: 5px;
    border: 1px solid black; }

  #queue .correct {
    background: #cbf5cb; }

  #queue .incorrect-unreplied {
    background: #ffa300; }

  #queue .incorrect-replied {
    background: #febdbd; }

  #queue .invalid-answer {
    background: yellow; }


td {
  padding: 5px;
  border: 1px solid black; }


#puzzles .meta {
  background: #DADAF8; }


#puzzles .second {
  background: #E5FAE2; }


#progress {
  font-size: 80%; }

  #progress .solved {
    background: #92E292; }

  #progress .available {
    background: yellow; }
