#chatcontainer {
  border: 1px solid black;
  height: 600px;
  padding: 15px;
  background-color: lightgrey; 
  border-radius:3px;
  overflow: auto;
}

.chatselect {
  background-color: white;
  width: 100%;
}

.chatwindow {
  display:none; 
  overflow-y: auto; 
  padding:10px; 
  font-family: Lucida Console;
}

#messagebox {
  border-radius:3px; 
  height: 25px; 
  width: 70%;
  margin-right: 10px;
}

#sendbutton {
  height: 25px;
}