#chatcontainer {
  border: 1px solid black; 
  min-height: 100px; 
  max-height: 400px;
  padding: 15px;
  background-color: lightgrey; 
  border-radius:3px;
  overflow: auto;
}

.chatselect {
  float:left !important;
  padding: 10px !important;
}

.chatwindow {
  display:none; 
  overflow-y: auto; 
  padding:10px; 
  font-family: Lucida Console;
}

#messagebox {
  border-radius:3px; 
  height: 25px; 
  width: 50%;
  margin-right: 10px;
}

#sendbutton {
  height: 25px;
}