body {
    background: url(/static/huntserver/background.jpg);
}

#footer {
    text-align: center;
    padding-top: 10px;
    margin-bottom: 10px;
    font-size: 90%;
}

.content {
    font-family: verdana;
    font-size: 14px;
    padding: 10px;
    padding-top: 0px;
    margin-right: 10px;
    margin-bottom: 10px;
    background: white;
    border: 3px solid black; 
}

th {
    text-align: left;
}

#plot {
    margin-top: 10px;
}

.puzzle td img{
    margin-left: 15px;
    width: 30px;
    height: 30px;
}

/*for puzzle page*/
.puzzle, .info {
    overflow: auto;
}

.leftinfo {
    float: left;
}

.puzzle .info a {
    margin-right: 10px;
    margin-bottom: 10px;
}

.puzzle fieldset {
    margin: 10px;
}

.puzzle fieldset td,th {
    padding-right: 10px;
}

.puzzle #puzzleimg {
    width: 100%;
    max-width: 900px;
    border: 1px solid black;
}

.helptext {
    font-size: 10px;
    color: gray;
}

.hint_table > tr > td {
    vertical-align: middle;
}

/* Override bootstrap's xs and sm inline form behavior */
@media (max-width: 767px) {
  .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
}