* { font-family: Helvetica, Verdana, Arial, sans-serif; }

body {
    background: url(/static/huntserver/background1.jpg);
    background-size: 2000px 2000px;
}

#phlogo {
    width: 50%;
}

.title {
    text-align: center;
}

h1.title {
    font-size: 60px;
}

.field_errors {
    margin-bottom: 10px;
}

#qa h2 {
    font-size: 16px;
    border-top: 2px dashed #ccc;
    padding-top: 10px;
}
.container:not(.no_outline){
    background: white;
    padding: 20px 40px;
    margin: 10px auto;
    border: 5px solid black;
    border-radius: 10px;
}
#footer {
    text-align: center;
    padding-top: 10px;
    margin-bottom: 10px;
    font-size: 90%;
}

#footer p {
    width: 40%;
    background-color: white;
    border: 2px solid black;
    margin: auto;
}

.helptext {
    font-size: 10px;
    color: gray;
}

input[type="text"] {
    width:300px;
}

input[type="email"] {
    width:300px;
}

input[readonly] {
    background: #dddddd;
    opacity: 0.8;
}

@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
    .dropdown-menu{
        display: block;
        position: static;
        background-color:transparent;
        border:0 none;
        box-shadow:none;
        margin-top:0;
        position:static;
        width:100%;
    }
    .navbar-nav .dropdown-menu > li > a,
    .navbar-nav .dropdown-menu .dropdown-header {
        padding:5px 15px 5px 25px;
    }
    .navbar-nav .dropdown-menu > li > a{
        line-height:20px;
    }
    .navbar-default .navbar-nav .dropdown-menu > li > a{
        color:#777;
    }
}