/* Generic */
.container { font-family: Helvetica, Verdana, Arial, sans-serif; }

body {
    background: url(/static/huntserver/background1.jpg);
    background-size: 2000px 2000px;
}

.container:not(.no_outline){
    background: white;
    padding: 20px 40px;
    margin: 10px auto;
    border: 5px solid black;
    border-radius: 10px;
}
.container.no_outline {
    padding-left: 0px;
    padding-right: 0px;
}

#phlogo {
    width: 50%;
}


/* Registration/forms */
.title {
    text-align: center;
}

h1.title {
    font-size: 60px;
}

.field_errors {
    margin-bottom: 10px;
}

.helptext {
    font-size: 10px;
    color: gray;
}

input[type="text"] {
    width:300px;
}

input[type="email"] {
    width:300px;
}

input[type="password"] {
    width:300px;
}

#room_select {
    width: auto;
}

input[readonly] {
    background: #dddddd;
    opacity: 0.8;
}


/* Hunt info */
#qa h2 {
    font-size: 16px;
    border-top: 2px dashed #ccc;
    padding-top: 10px;
}